@font-face {
  font-family: 'Owners';
  src: 
    url('~assets/fonts/Owners-Normal.woff2') format('woff2'),
    url('~assets/fonts/Owners-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Owners';
  src: 
    url('~assets/fonts/Owners-Narrow.woff2') format('woff2'),
    url('~assets/fonts/Owners-Narrow.woff') format('woff');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Owners';
  src: 
    url('~assets/fonts/Owners-Medium.woff2') format('woff2'),
    url('~assets/fonts/Owners-Medium.woff') format('woff');
  font-weight: 200;
  font-display: swap;
}


@font-face {
  font-family: 'greed';
  src: 
    url('~assets/fonts/Greed-Medium.woff2') format('woff2'),
    url('~assets/fonts/Greed-Medium.woff') format('woff');
    font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AtlasGrotesk';
  src: 
    url('~assets/fonts/AtlasGrotesk-Regular.woff2') format('woff2'),
    url('~assets/fonts/AtlasGrotesk-Regular.woff') format('woff');
  font-weight: 200;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  
  html {
    font-size: 65%;
  }
  
  body {
    /* font-family: 'greed', sans-serif; */
    font-family: Atlas Grotesk, sans-serif;
    /* color: hsl(249.94deg 74.43% 42.94%); */
    /* font-family: arial; */
    /* letter-spacing: -.2px; */
    /* font-family: "Roboto", sans-serif; */
    /* font-weight: 400; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    /* font-size: 10.3px; */
  } 

  .titletextfont{
    font-family: 'greed', sans-serif;
    font-size: 3.5rem !important;
       /* font-family: "Roboto", sans-serif; */
    font-weight: 400;
  }

  @media only screen and (min-width: 2560px) {

  .smaller-text {
    font-size: 1.8rem !important;
    line-height: 1.8rem !important;
}

.lgsctext{
  font-size: 1.8rem !important;
    line-height: 1.8rem !important;
}

.button-container{
  font-size: 1.8rem !important;
    line-height: 1.8rem !important;
}

.button{
  font-size: 1.8rem !important;
    line-height: 1.8rem !important;
}

.lgsctoppad{
  padding-top: 17rem !important;
}

.textppad{
  font-size: 1.8rem !important;
    line-height: 1.8rem !important;
}

.textppad div{
  font-size: 1.8rem !important;
    line-height: 1.8rem !important;
}

.close-button{
  font-size: 1.8rem !important;
    line-height: 1.8rem !important;
}

.headtextlg{
  font-size: 1.8rem !important;
    line-height: 1.8rem !important;
}
}


  